.add-del {
  width: 50px;
  height: 50px;
}
.add-btn-text {
  font-size: 1.7rem;
  font-weight: 600;
  padding-top: 2.5%;
  padding-right: 5px;
  color: rgb(4, 4, 87);
  letter-spacing: 1.5px;
}
.add-btn-container {
  display: flex;
  margin-right: 25%;
  margin-bottom: 1%;
  cursor: pointer;
}
.booklist-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.logo {
  width: 200px;
  height: 200px;
}
.logo-container {
  display: flex;
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 3px;
  color: rgb(4, 4, 87);
}
.logo-container h3 {
  padding-top: 2%;
}
@media only screen and (max-width: 768px) {
  .logo {
    width: 150px;
    height: 150px;
  }
  .logo-container h3 {
    padding-top: 13%;
    font-size: 1.5rem;
  }
  .add-btn-container {
    margin-right: 5%;
    margin-bottom: 2%;
  }
  .add-btn-text {
    font-size: 1.3rem;
    padding-top: 5%;
  }
}
