.form-container {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: rgb(253, 253, 156);
}
.form-container input,
textarea {
  border: none;
  border-radius: 15px;
  font-size: 20px;
  color: rgb(95, 83, 83);
  padding: 3%;
  margin: 2%;
  letter-spacing: 2.5px;
  outline-color: rgb(253, 181, 221);
}
@media only screen and (max-width: 768px) {
  .form-container {
    width: 98%;
  }
}
